@font-face {
  font-family: "Reforma 1918";
}
@font-face {
  font-family: "Poppins";
}
html {
  font-size: 6.9444444444vw;
}

:root {
  --main-font: "Reforma 1918", sans-serif;
  --sub-font: "Poppins", sans-serif;
  --color-black: #e5e5e5;
  --color-white: #fff;

  --font-size-h1: 1.41rem;
  --font-size-desc-1: 0.16rem;
  --font-size-desc-2: 0.16rem;
  --font-size-header-text-1: 0.14rem;
  --font-size-btn-1: 0.18rem;
  --font-size-btn-2: 0.18rem;

  --line-height-h1: 1.26rem;
  --line-height-desc-1: 0.16rem;
  --line-height-desc-2: 0.16rem;
  --line-height-header-text-1: 0.14rem;
  --line-height-btn-1: 0.18rem;
  --line-height-btn-2: 0.18rem;
}

.title-h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: 700;
  color: var(--color-white);
  font-family: var(--main-font);
}
.desc-1 {
  font-size: var(--font-size-desc-1);
  line-height: var(--line-height-desc-1);
  font-weight: 500;
  color: var(--color-white);
  font-family: var(--sub-font);
}
.desc-2 {
  font-size: var(--font-size-desc-2);
  line-height: var(--line-height-desc-2);
  font-weight: 600;
  color: var(--color-white);
  font-family: var(--sub-font);
}
.header-text-1 {
  font-size: var(--font-size-header-text-1);
  line-height: var(--line-height-header-text-1);
  font-weight: 500;
  color: var(--color-white);
  font-family: var(--sub-font);
}
.btn-1 {
  font-size: var(--font-size-btn-2);
  line-height: var(--line-height-btn-2);
  font-weight: 500;
  color: var(--color-white);
  font-family: var(--sub-font);
}
.btn-2 {
  font-size: var(--font-size-btn-1);
  line-height: var(--line-height-btn-1);
  font-weight: 600;
  color: var(--color-white);
  font-family: var(--sub-font);
}

.neet {
    color :#f38c3d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  width: 100%;
}

img {
  display: block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* extra long transition to hide blue autofill background */
input:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus {
  -webkit-transition: background-color 100000000000000000000000000000s 0s,
    color 100000000000000000000000000000s 0s;
  transition: background-color 100000000000000000000000000000s 0s,
    color 100000000000000000000000000000s 0s;
}

/* Remove Safari autofill*/
input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
  /* remove autofill blue background */
  box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
  -webkit-box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
  -webkit-text-fill-color: currentColor !important;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: transparent;
}

body {
  background: var(--color-black);
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 0.32rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0.9rem;
  padding: 0 0.32rem;
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    .logo-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .header-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    &__item {
      &:not(:last-child) {
        margin-right: 0.37rem;
      }
      cursor: pointer;
    }
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .container {
    display: flex;
    align-items: center;
  }
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .title-block {
    padding-left: 1.48rem;
    position: relative;
    .title-h1 {
      text-transform: uppercase;
      .title-row {
        display: flex;
      }
      .title-charts-cont {
        display: flex;
        overflow: hidden;
      }
      .title-row-2 {
        padding-left: 0.83rem;
      }
      #ry {
        margin-right: 0.37rem;
      }
      #tells {
        margin-right: 0.15rem;
      }
      #a {
        margin-right: 0.15rem;
      }
    }
    .first-desc {
      position: absolute;
      top: -0.5rem;
      right: 3.7rem;
      overflow: hidden;
      display: flex;
    }
    .second-desc {
      position: absolute;
      bottom: -1rem;
      left: 4.85rem;
      overflow: hidden;
      display: flex;
    }
  }
  .copyright {
    position: absolute;
    bottom: 0.32rem;
    left: 0.32rem;
    overflow: hidden;
    display: flex;
  }
  .scroll-to {
    position: absolute;
    bottom: 0.32rem;
    left: 7.75rem;
    width: 1.48rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    &__row {
      overflow: hidden;
      display: flex;
    }
  }
  .book-btn {
    position: absolute;
    bottom: 0.32rem;
    right: 0.32rem;
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__circle {
      width: 1.7rem;
      height: 1.7rem;
      border: 1px solid var(--color-white);
      border-radius: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .btn-text {
      width: 1.28rem;
      text-align: center;
      overflow: hidden;
      display: flex;
    }
  }
}
